<div class="page"> 

  
  <nav>
    <ul>
      <li><a href="/user/<%= @user.id %>/bio">Bio</a></li>
      <li><a href="/user/<%= @user.id %>/ratings">Ratings/Comments</a></li>
      <li><a href="/user/<%= @user.id %>/requests">Requests</a></li>
      <li><a href="/user/<%= @user.id %>/promotions">Promotions</a></li>
    </ul>
  </nav>


  <form action="/user/<%= @user.id %>/images" method="post" enctype="multipart/form-data" class="image_form">
  <h1 class="subheading">Upload Images</h1>
   <!--  <strong>Username:</strong>
    <input type="text" name="username"><br> -->
    <strong>File:</strong>
    <input type="file" name="upload"><br>
    <button type="submit">Upload!</button>
  </form>

  <div class="photos">
    <% if @user.photos %>
      <% @user.photos.each do |photo| %>
      <img src="<%= photo.filepath %>" alt="" class="photo">
      <% end %>
    <% end %>
  </div>
</div>
